/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.viminfo
.cache
.config
.editorconfig
.local
.bash_history
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode